/* Write your CSS here */

.order-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  color: #616e7c;
}
.total-price {
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 900;
  color: #171f46;
}
.items-count {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #616e7c;
}
.checkout-btn {
  background-color: #0b69ff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
